.navbar{
	font-family: Raleway;
}

body{
	background: rgb(230, 237, 235);
}

/*.float{
	float: left;
}*/

p{
	font-size: 18px;
	font-family: Noto Sans;
	line-height: 1.75;
}

h1{
	font-family: Raleway;
	text-transform: uppercase;
	border-bottom: 2px solid #998c8b;
	width: 60%;
}

#pic{
	display: block;
	margin-right: 20px;
	width: 30%;
	box-shadow: 10px 10px 5px grey;
	float:left;
}

.dropdown-item{
	color:white;
	margin-left: 10px;
}

.dropdown-menu{
	background:black;
}

.center{
	margin: 5px auto;
	max-width: 1500px;
}